body {
  background-color: lightgrey;
  font-family: 'Libre Franklin', sans-serif;
  font-size: large;
}

header {
  overflow: hidden;
  background-color: #DF2D2D;
  text-color: white;
  text-decoration: none;
  text-align: center;
  padding: 15px 10px;
  border-radius: 4px;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

button {
  background-color: white;
  width: 350px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  text-color: black;
  border: 3px light grey;
  border-radius: 8px;
  font-family: 'Libre Franklin', sans-serif;
}

button #nav {
  button width: 145px;
}
